.nav a{
    text-decoration: none;
    color:black;
    font-weight: 900px;
    font-size: 20px;
}
.mobilenav{
    display: none;
}
.nav a:hover{
    color:rgb(253, 253, 253);

}
/* .nav ul{
    color:grey
} */
@media(max-width:600px){
    .nav{
        display: none;
    }
    .mobilenav{
        display: block;
    }
    .mnav a{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }


}