.nav a{
    text-decoration: none;
    color:black;
    font-weight: 900px;
}

.nav a:hover{
    color:grey;

}
@media(max-width:600px){
    /* .nav{
        display: none;
    }
    .mobilenav{
        display: flex;
    } */


}