.nav{
    display: flex;
    justify-content: space-between;
  
}


.nav a{
    text-decoration: none;
    color:white;
    font-weight: 900px;
    font-size: 20px;
 
}
.mobilenav{
    display: none;
}
.nav a:hover{
    color:grey;

}
#menu{
    width:50%

}
/* .nav ul{
    color:grey
} */
@media(max-width:600px){
    .nav{
        display: none;
    }
    .mobilenav{
        display: block;
    }
    .mnav a{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }


}