@media(max-width:600px){
    .about{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pic{
        display: flex;
        justify-content: center;
        
    }


}