#ts{

}

#resume{
    background-color: white;
    color:black;
    margin:40px;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

#r{
    background-color: thistle;
}

@media(max-width:600px){
  #resume{
    margin:10px;

  }
  }

